---cson
layout: 'deck_units' 
title: "Formal Proof"
description: "Explains that Fitch is a formal (non-sematic) system of proof by highlighting an incorrect use of =Elim."
tags: ['proof']
depends: ['unit_11']
source: ['ph126 lecture 03']
duration: 3
sequence: 270
handout: false
exNormal: [
  '/ex/proof/from/a=b/to/b=a'
  '/ex/proof/from/LeftOf(a,b)|c=b/to/LeftOf(a,c)'
]
exFast: [
  '/ex/proof/from/a=b/to/b=a'
  '/ex/proof/from/LeftOf(a,b)|c=b/to/LeftOf(a,c)'
]
---

include ../../../fragments/unit_mixins

+slide({bkg:'unit_111/slide-077.jpeg'})
  .notes Recall these two diagrams from earlier.  The left one is a proof, the right one is not.
  .notes Spot the difference.

+slide({bkg:'unit_111/slide-078.jpeg'})
  .notes Yes, the difference is at line 2.
  .notes But why is this difference significant?

+slide({bkg:'unit_111/slide-178.jpeg'})
  .notes Look what happens in the left diagram (the genuine proof).  Do you see the pattern?

+slide({bkg:'unit_111/slide-179.jpeg'})
  .notes That pattern matches the pattern described by the rule identity elimination (=Elim)

+slide({bkg:'unit_111/slide-180.jpeg'})
  .notes Now look at the pattern in the diagram on the right.
  .notes This is a different pattern.
  .notes: :t()
    You might protest that b=c and c=b mean the same thing; one can't be true unless the other is.
    These sentences do not express different thoughts.
    This is true but it is entirely besides the point.
  .notes: :t()
    Why is it beside the point?
    In studying proof, we're interested in ways of linking the purely formal to the genuinely meaningful.
    The proof system Fitch is a formal system of proof.
    What we want to show is that, within limits, Fitch captures a notion of logical validity.
    This is interesting only because we can describe Fitch entirely without invoking truth or meaning.
  .notes: :t()
    So the fact that b=c and c=b mean the same is irrelevant in Fitch.
    When you're thinking about Fitch, all you care about is the pattern of symbols.
    And b=c is a different pattern from c=b.
    

+slide({bkg:'unit_111/slide-181.jpeg'})
  .notes This is Abdurrahman Wahid, popularly known Gus Dur, a former president of Indoneisa and one of the most jovial national leaders ever.  He was a really nice guy.  As president he was infirm and nearly blind.  When asked to resign he replied “I need help to step up, let alone step down.” (Economist 2010-01-07 obituary).  Unfortunately he died recently (december 30 2009)  

+slide({bkg:'unit_111/slide-182.jpeg'})
  .notes And this is Than Schwe, Myanamar’s military ruler.
  .notes Guess who I'd pick to marks your logic exam.

+slide({bkg:'unit_111/slide-183.jpeg'})
  .notes One last thing.  The argument on your right is logically valid.  Can you prove it?

