- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- jQuery
- scripts.add(["/vendor/jquery.min.js"])
- scripts.add(["/vendor/jquery-svgfix.js"])

//- Bootstrap
- scripts.add(["/vendor/twitter-bootstrap/js/bootstrap.min.js"])
- styles.add(["/vendor/twitter-bootstrap/css/bootstrap2.min.css","/vendor/twitter-bootstrap/css/bootstrap-responsive.min.css"])
- styles.add(["/vendor/twitter-bootstrap/css/bootstrap-docs.css"])

//- Other Scripts
- scripts.add(["/vendor/log.js","/vendor/modernizr.custom.01932.js"])
- scripts.add(["/vendor/waypoints.min.js"])

//- User
- scripts.add(["/scripts/script.js"])
- styles.add(["/styles/frontpage.css"])


//- for the get_unit function
include ../../fragments/lecture_mixins


doctype html
html(lang="en")
  head

    // Meta
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")

    //-
      Use the .htaccess and remove these lines to avoid edge case issues.
      More info: h5bp.com/i/378
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    //- Our site title and description
    title= getPreparedTitle()
    meta(name="description", content=getPreparedDescription())
    meta(name="keywords", content=getPreparedKeywords())
    meta(name="author", content=site.author || '')

    //- Output DocPad produced meta elements
    != getBlock('meta').toHTML()

    //- Mobile viewport optimized: h5bp.com/viewport
    meta(name="viewport", content="width=device-width")

    //- Icons
        link(rel="shortcut icon", href="ico/favicon.ico")
        link(rel="apple-touch-icon-precomposed", sizes="144x144", href="ico/apple-touch-icon-144-precomposed.png")
        link(rel="apple-touch-icon-precomposed", sizes="114x114", href="ico/apple-touch-icon-114-precomposed.png")
        link(rel="apple-touch-icon-precomposed", sizes="72x72", href="ico/apple-touch-icon-72-precomposed.png")
        link(rel="apple-touch-icon-precomposed", href="ico/apple-touch-icon-57-precomposed.png")

    //- Shims: IE6-8 support of HTML5 elements
    //if lt IE 9
      script(async src="https://html5shim.googlecode.com/svn/trunk/html5.js")

    // - lato font
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,900,400italic',rel='stylesheet',type='text/css')

    // Styles
    != styles.toHTML()

  body(style='padding-top:0')

    .container
      .hero-unit
        h1
          a(href='/', style='color:white;') Logic (PH133)
      
      h1 #{document.title}: Slides and Handouts
      p You can find slides and handouts below, together with an outline of each lecture.

      .row
        #sidebar.span4.bs-docs-sidebar
          ul.nav.nav-list.bs-docs-sidenav
            // (data-spy="affix",data-offset-top="0",style="margin-top:0;")
            //- create a menu item for each lecture
            each lecture in getCollection(document.the_collection).toJSON()
              li
                a(href='##{lecture.basename}')
                  i.icon-chevron-right
                  | #{lecture.subtitle || lecture.title}
        
        .span8
          //- now do a section for each lecture
          each lecture in getCollection(document.the_collection).toJSON()
            div(id='#{lecture.basename}')
              div(style="margin-top:2em")
                h2: a(href='#{lecture.url}',target='_blank') #{lecture.subtitle || lecture.title}
                if lecture.lecture_date
                  p Date given: #{moment(lecture.lecture_date).format('dddd Do MMMM YYYY')}
                p 
                  a(href='#{lecture.url}',target='_blank') slides
                  |  , 
                  a(href='/handouts/#{lecture.basename}.handout.pdf',target='_blank') handout [pdf]
                  if lecture.recording
                    | , 
                    a(href='#{lecture.recording}', target='_blank') recording [warwick only]
                    
                p
                  a(target="_blank", href="https://ex.zoxiy.xyz/course/#{document.courseName}/exerciseSet/2016-7/lecture/#{lecture.subtitle || lecture.title}") 
                    span Exercises for this lecture

              .units(style='border-left: 1px dotted grey;margin-left: -1px;')
                div(style="padding-left:2em;")
                  if lecture.units
                    - each unit_num in lecture.units
                      - unit = get_unit(unit_num)
                      h3
                        a(href="#{unit.url}") #{unit.title}
                        span(style="font-size:50%;color:grey;")  (#{unit_num})
                      if unit.tags && unit.tags.length && unit.tags.length > 0
                        p(style="text-align:right;margin:0;padding:0;margin-top:-2.5em;") 
                          each t in unit.tags
                            span.label.label-info #{t}
                            | 
                      p #{unit.description}
                      if unit.book && unit.book.length > 0 
                        p Reading:  ยง#{unit.book.join(', ยง')}
                      //- exercises
                      if unit.exNormal && unit.exNormal.length > 0
                        p 
                          a(target="_blank", href="https://ex.zoxiy.xyz/course/#{document.courseName}/exerciseSet/2016-7/lecture/#{lecture.subtitle || lecture.title}/unit/#{unit.title}") Exercises for this topic
                      if unit.exercises && unit.exercises.length > 0 
                        p Alternative textbook exercises: #{unit.exercises.join(', ')}
            
    
        
            
                
      .row 
        hr
        footer(style="padding-bottom: 30px;")
          div(style="font-style:italic; font-size: 12px") Last updated at #{site.date}

    //- Scripts
    != scripts.toHTML()
